@import "home-animation.css";
.home-header {
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.home-header img {
  float: left;
  display: block;
  height: 80px;
  width: 80px;
  left: 0;
  top: 0;
}
.home-header .title {
  float: left;
  margin-left: 30px;
  left: 80px;
  top: 0;
  font-size: 28px;
  height: 80px;
  line-height: 80px;
}
.home-header .btn-appointment {
  text-decoration: none;
  float: right;
  display: block;
  margin-right: 100px;
  margin-top: 30px;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: #707070;
  border: 3px solid #707070;
  border-radius: 10px;
  box-sizing: border-box;
}
.home-header .btn-appointment:hover {
  color: #2e6da4;
  border-color: #2e6da4 ;
}
.home-body .wrap {
  width: 1260px;
  margin: 20px auto;
  position: relative;
  padding: 40px 50px;
  box-sizing: border-box;
}
.home-body .wrap1 {
  margin-top: 120px;
  overflow: hidden;
  color: #ffffff;
}
.home-body .wrap1 .title {
  display: block;
  height: 120px;
  width: 50%;
  line-height: 120px;
  font-size: 50px;
}
.home-body .wrap1 .content {
  margin-top: 10px;
  font-size: 24px;
  display: block;
  height: 120px;
  width: 50%;
}
.home-body .wrap1 .link-box {
  position: absolute;
  width: 240px;
  height: 260px;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.home-body .wrap1 .link-box .link-title {
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.home-body .wrap1 .link-box .link-btn {
  display: block;
  width: 80%;
  color: #FFFFFF;
  border-radius: 0px;
  margin: 0 auto;
  line-height: 30px;
  height: 30px;
}
.home-body .wrap1 .link-box .link-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.home-body .wrap1 .link-box1 {
  top: 50px;
  right: 280px;
  background-color: rgba(9, 199, 247, 0.7);
  /* #09C7F7 */
  animation: link-box1-animation 1s ease-in-out;
}
.home-body .wrap1 .link-box1 .link-btn {
  background: #09C7F7;
}
.home-body .wrap1 .link-box2 {
  top: 200px;
  right: 70px;
  background-color: rgba(249, 151, 9, 0.7);
  animation: link-box2-animation 1s ease-in-out;
}
.home-body .wrap1 .link-box2 .link-btn {
  background: #F79709;
}
.home-body .wrap2 {
  height: 600px;
}
.home-body .wrap2 .slideshow {
  width: 1200px;
  height: 600px;
  margin: 30px auto;
  position: relative;
}
.home-body .wrap2 .slideshow .pre {
  left: 0;
}
.home-body .wrap2 .slideshow .next {
  right: 0;
}
.home-body .wrap2 .slideshow .arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  opacity: 0;
}
.home-body .wrap2 .slideshow .arrow:hover {
  opacity: 1;
}
.home-body .wrap2 .slideshow .arrow i {
  display: inline-block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.home-body .wrap2 .slideshow .pics {
  position: relative;
  width: 100%;
  height: 100%;
}
.home-body .wrap2 .slideshow .pics li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.home-body .wrap2 .slideshow .pics li img {
  display: block;
  width: 100%;
  height: 100%;
}
.home-body .wrap2 .slideshow .pics .active {
  opacity: 1;
}
.home-body .wrap2 .slideshow .points {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.home-body .wrap2 .slideshow .points li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
.home-body .wrap2 .slideshow .points .active {
  background: #666;
}
