<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--实现的哪个接口呢？ 填入namespace，这个xml是这个接口的实现类-->
<mapper namespace="com.whut.dao.IDoctorDao" >
    <select id="getAllDoctor" resultType="Doctor">
       select * from tb_doctor
    </select>

    <delete id="deleteDoctor" parameterType="String">

        delete from tb_doctor where d_id=#{d_id}
    </delete>


    <insert id="addDoctor" parameterType="Doctor">
        insert into tb_doctor(d_id,t_id,d_title,d_gender,d_birthday,dp_id,d_password,d_name,d_description)
        values (#{d_id},#{t_id},#{d_title},#{d_gender},#{d_birthday},#{dp_id},#{d_password},#{d_name},#{d_description})
    </insert>


    <update id="updateDoctor" parameterType="Doctor">
        update tb_doctor set d_id=#{d_id},t_id=#{t_id},d_title=#{d_title},d_gender=#{d_gender},d_birthday=#{d_birthday},dp_id=#{dp_id},d_password=#{d_password},d_name=#{d_name},
       d_description=#{d_description}  where d_id=#{d_id}
    </update>

    <select id="queryDoctorById" parameterType="String" resultType="Doctor">
        select *from tb_doctor where d_id=#{d_id}
    </select>

</mapper>
<!--这个是mapper模板 -->